<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Role based permissions</title>
    <link rel="stylesheet" href="http://localhost:5000/styles/output.css" />
  </head>
  <body>
    <main class="py-12 px-40">
      <h1 class="text-2xl font-bold">Role Permissons</h1>
      <!-- Accordian -->
      <div class="mt-5"><%- include("./partials/accordian") %></div>
    </main>

    <!-- Flowbite Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
