<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Role based permissions</title>
    <link rel="stylesheet" href="http://localhost:5000/styles/output.css" />
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  </head>
  <body>
    <section class="py-12 px-40">
      <h1 class="text-2xl font-bold">Role Permissons</h1>
      <!-- Accordian -->
      <div class="mt-5">
        <%-include('./partials/modules') -%>
      </div>
    </section>

    <!-- Flowbite Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
